* {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: #84EF98;
}

h1 {
    text-align: center;
}

.unitsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unitsConvert {
    display: flex;
    align-items: baseline;
}
.conv {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
background-color: #6d6161a1;
}

input {
    margin-right: 5px;
    margin-top: 5px;
}